*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:sans-serif;
}

:root{
    --col1: #ffffff;
    --col2: #90f357;
}

body{
    background-color: var(--col1);
}
body > div{
    height:100vh;
}

section{
    position:relative;
    width:100%;
    height:10vh;
}
section:nth-child(even)
{
    background-color:var(--col2);
}